@using EjercicioIntegradorMVC_1_VM.Models
@using EjercicioIntegradorMVC_1_VM.Resources
@model IEnumerable<Persona>

@{ ViewBag.Title = ResourceGlobal.TituloVentana; }

<h2>@ResourceGlobal.TituloListarPersonas</h2>
<hr />

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Apellido)</th>
        <th>@Html.DisplayNameFor(model => model.TipoDoc)</th>
        <th>@Html.DisplayNameFor(model => model.NroDoc)</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
            <td>
                @switch (item.TipoDoc) {
                    case 1:<text>DNI</text> break;
                case 2: <text>LE</text> break;
            case 3: <text>LC</text>break;
    }
        </td>
        <td>@Html.DisplayFor(modelItem => item.NroDoc)</td>
    </tr>
}

</table>

<br />
@Html.ActionLink(ResourceGlobal.BotonRegreso, "Index", "Persona", new { @class = "link-back-button" })