@using PracticaMVC.Models
@model IList<ProvinciaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index of Provincia</h2>

<table>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { idProvincia = item.Id }) | @Html.ActionLink("Delete", "Delete", new { idProvincia = item.Id })</td>
        </tr>
    }
</table>

<input type="button" value="Prueba View" onclick="CargarView()" />

<div id="popup"></div>

<script type="text/javascript">

function CargarView() {
    $.ajax({
        url: '@Url.Action("CargarPopup", "Provincia")',
        success: function (respuesta) {
            $("#popup").html(respuesta);
            $("#popup").dialog({
                modal: true,
                buttons: [{
                    text: "Aceptar",
                    id: "btnAceptarDetalle",
                    click: function () {
                        $.ajax({
                            url: '@Url.Action("GuardarDatosPopup", "Provincia")',
                            type: 'POST',
                            data: ObtenerDatosPopup(),
                            success: function (jsonResponse) {
                                alert(jsonResponse);
                                $("#popup").dialog("close");
                            },
                            error: function (e) { alert("Error: " + e); },
                            dataType: 'text'
                        })
                    }
                }]
            });
        },
        error: function (error) { }
    });
}

</script>