@using EjercicioIntegradorMVC_1.Models
@using EjercicioIntegradorMVC_1.Resources
@model Persona

@{ ViewBag.Title = "Exito"; }

<head>
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
</head>

<h2>La persona se agrego / modifico a la base de datos correctamente</h2>
<hr />

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
        <th>@Html.DisplayNameFor(model => model.Apellido)</th>
        <th>@Html.DisplayNameFor(model => model.TipoDoc)</th>
        <th>@Html.DisplayNameFor(model => model.NroDoc)</th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Nombre)</td>
        <td>@Html.DisplayFor(model => model.Apellido)</td>
        <td>@switch (Model.TipoDoc) {
             case 1:<text>DNI</text> break;
             case 2: <text>LE</text> break;
             case 3: <text>LC</text>break;
        }</td>
        <td>@Html.DisplayFor(model => model.NroDoc)</td>
    </tr>

</table>

<br />

@Html.ActionLink(ResourceGlobal.BotonRegreso, "Index", "Persona", new { @class = "link-back-button" })