@model PracticaMVC.Models.ProvinciaModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {

    @Html.ValidationSummary()
    <fieldset>

        <legend>Provincia</legend>
        
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>

    </fieldset>
}

