@using EjercicioIntegradorMVC_1_VM.Models
@using EjercicioIntegradorMVC_1_VM.Resources

@model Persona

@{ ViewBag.Title = ResourceGlobal.TituloVentana; }

<h2>@ResourceGlobal.TituloAgregarPersona</h2>
<hr />

@*  Documentacion:
    https://learn.microsoft.com/es-es/dotnet/api/system.web.mvc.html.formextensions.beginform
    https://learn.microsoft.com/es-es/dotnet/api/system.web.mvc.htmlhelper.antiforgerytoken
    https://www.tutorialsteacher.com/mvc/htmlhelper-validationsummary
    https://api.jquery.com/contains-selector/ *@

@using (Html.BeginForm()) {

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                <div class="validation-message">
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                <div class="validation-message">
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoDoc, new SelectList(new[] {
                    new SelectListItem { Text = ResourceGlobal.DNI, Value = "1" },
                    new SelectListItem { Text = ResourceGlobal.LE, Value = "2" },
                    new SelectListItem { Text = ResourceGlobal.LC, Value = "3" },
                }, "Value", "Text"), ResourceGlobal.MensajeListaDespegableTipoDeDocumento, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(model => model.TipoDoc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroDoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroDoc, new { htmlAttributes = new { @class = "form-control" } })
                <div class="validation-message">
                    @Html.ValidationMessageFor(model => model.NroDoc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ResourceGlobal.BotonConfirmar class="confirm-button" />
            </div>
        </div>

    </div>
}

<br />

@Html.ActionLink(ResourceGlobal.BotonRegreso, "Index", "Persona", new { @class = "link-back-button" })

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        /* Deshabilita la opcion del mensaje por defecto que aparece al cargar la pagina una vez que
         * se selecciono alguna opcion valida. */

        $(document).ready(function () {
            var listaTipoDoc = $("#TipoDoc");
            listaTipoDoc.change(function () {
                var opcionPredeterminada = listaTipoDoc.find('option:contains("@ResourceGlobal.MensajeListaDespegableTipoDeDocumento")');
                opcionPredeterminada.prop("disabled", true);
            });
        });

    </script>
}