@model EjercicioIntegradorMVC_1.Models.Persona

@{
    ViewBag.Title = "Modificar Persona";
}

<head>
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
</head>

<h2>Modificar Persona</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1", data_val_range = "Ingrese un valor mayor a 0.", data_val_range_min = "1" } })
                <div class="mensajes-validacion">
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                <div class="mensajes-validacion">
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                <div class="mensajes-validacion">
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDoc, "Tipo de Documento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoDoc, new SelectList(new[]
                {
                    new SelectListItem { Text = "DNI", Value = "1" },
                    new SelectListItem { Text = "LE", Value = "2" },
                    new SelectListItem { Text = "LC", Value = "3" },
                }, "Value", "Text"), "Seleccione un tipo de documento", new { @class = "form-control" })
                <div class="mensajes-validacion">
                    @Html.ValidationMessageFor(model => model.TipoDoc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroDoc, "Número de Documento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroDoc, new { htmlAttributes = new { @class = "form-control" } })
                <div class="mensajes-validacion">
                    @Html.ValidationMessageFor(model => model.NroDoc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" />
            </div>
        </div>

    </div>
}

<br />
<a class="boton-regreso" href="@Url.Action("Index", "Persona")">Regresar al menu principal</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
