@using EjercicioIntegradorMVC_2.Models
@using Recursos
@model Proveedor

@{
    ViewBag.Title = @GlobalResources.Titulo_DetalleProveedor;
}

<head>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>


<h2>@GlobalResources.Titulo_DetalleProveedor</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage)) {
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd>@Html.DisplayFor(model => model.Nombre)</dd>

        <dt>@Html.DisplayNameFor(model => model.Domicilio)</dt>
        <dd>@Html.DisplayFor(model => model.Domicilio)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdProvincia)</dt>
        @{ var provincia = (ViewBag.Provincias as List<Provincia>).FirstOrDefault(p => p.Id == Model.IdProvincia); }
        <dd>@provincia.Descripcion</dd>

        <dt>@Html.DisplayNameFor(model => model.IdLocalidad)</dt>
        @{ var localidad = (ViewBag.Localidades as List<Localidad>).FirstOrDefault(p => p.Id == Model.IdLocalidad); }
        <dd>@localidad.Descripcion</dd>

    </dl>
</div>

<p>@Html.ActionLink(GlobalResources.Accion_Regresar, "Indice")</p>
